{% extends "::base.html.twig" %}

{% block title %}AddressBookBundle:Address:addAddress{% endblock %}

{% block body %}
<h1>Add new address</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
