{% extends "::base.html.twig" %}

{% block title %}AddressBookBundle:Person:index{% endblock %}

{% block body %}
<h1>All persons</h1>
<a href="{{ path('newGet') }}">Add new person</a>
{% for person in persons %}
    {{ include('AddressBookBundle:Partials:person_details.html.twig', {'person': person}) }}
{% endfor %}
{% endblock %}