{% extends "::base.html.twig" %}

{% block title %}AddressBookBundle:Person:modify{% endblock %}

{% block body %}
<h1>Modify person</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
<a href="{{ path('addAddressGet', {'id': personId}) }}">Add new address</a>
<a href="{{ path('addPhoneGet', {'id': personId}) }}">Add new phone</a>
<a href="{{ path('addEmailGet', {'id': personId}) }}">Add new email</a>
{% endblock %}
