{% extends "::base.html.twig" %}

{% block title %}AddressBookBundle:Person:new{% endblock %}

{% block body %}
<h1>Add new person</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
