{% extends "::base.html.twig" %}

{% block title %}AddressBookBundle:Person:index{% endblock %}

{% block body %}
<h1>Person details</h1>
<a href="{{ path('allPersons') }}">All persons</a>
{{ include('AddressBookBundle:Partials:person_details.html.twig', {'person': person}) }}
{{ include('AddressBookBundle:Partials:addresses.html.twig', {'person': person}) }}
{{ include('AddressBookBundle:Partials:phones.html.twig', {'person': person}) }}
{{ include('AddressBookBundle:Partials:emails.html.twig', {'person': person}) }}
{% endblock %}
