{# empty Twig template #}
<p>Adresses:</p>
{% for address in person.addresses %}
    {{ include('AddressBookBundle:Partials:address_details.html.twig', {'address': address}) }}
{% else %}
    <p>No addresses</p>
{% endfor %}