{# empty Twig template #}
<div>
    <span>{{address.city}}, {{address.street}} {{address.house}} / {{address.unit}}</span>
    <span><a href="{{ path('deleteAddress', {'id': address.id}) }}">delete</a></span>
</div>