{# empty Twig template #}
<p>Emails::</p>
{% for email in person.emails %}
    {{ include('AddressBookBundle:Partials:email_details.html.twig', {'email': email}) }}
{% else %}
    <p>No emails</p>
{% endfor %}