{# empty Twig template #}
<hr>
<div>
    <a href="{{ path('singlePerson', {'id': person.id}) }}">{{person.firstName}} {{person.lastName}}</a>
</div>
<div>
    {{person.description}}
</div>
<a href="{{ path('modifyGet', {'id': person.id}) }}">Modify</a>
<a href="{{ path('delete', {'id': person.id}) }}">Delete</a>