{# empty Twig template #}
<p>Phones:</p>
{% for phone in person.phones %}
    {{ include('AddressBookBundle:Partials:phone_details.html.twig', {'phone': phone}) }}
{% else %}
    <p>No phones</p>
{% endfor %}